<!--
Sprite (.sprite)
Name (.name)
Number
Description
Height
Weight
Type
Games

Base Stats

Moves
  All
  Level
  Machine

 -->

 <div *ngIf="listClick" class="loading">
   <img src="/assets/images/pikachu-waiting.gif"/>
   <p>Loading...</p>
 </div>


<div *ngIf="pkmn && pkmn.description" class="pokemon-detail">


  <div class="box box-white padded-box stripes pokemon-main-detail">

    <div class="pokemon-header">

      <div>
        <div class="pokemon-id">#{{formatPkmnId(pkmn.id)}}</div>

        <div class="box box-blue stripes pokemon-sprite">
          <img src="{{pkmn.sprite}}"/>
        </div>

        <div class="pokemon-name">{{pkmn.name}}</div>
      </div>

      <div class="pokemon-types-games">
        <div class="pokemon-types">
          <div *ngFor="let type of pkmn.types" class="type type-{{type.name}}">{{type.name}}
          </div>
        </div>

        <div class="pokemon-games">
          <div *ngFor="let gen of pkmn.generations" class="generation {{gen.name}}">
            <span class="tooltip tooltip-{{gen.name}} {{gen.name}}">{{gen.fullName}}</span>
            {{gen.number}}
          </div>
        </div>

      </div>


    </div>

    <div class="pokemon-meta">
      <div class="description">
        <p>{{pkmn.description}}</p>
      </div>
    </div>

  </div>

  <section class="pokemon-base-stats">

    <div class="section-header box box-blue stripes">
      Base Stats
    </div>

    <div class="box box-black padded-box stripes-light">
      <div *ngFor="let stat of pkmn.baseStats" class="base-stats">
        <div>
          {{stat.stat}}:
        </div>
        <div class="base-stat-number">
          {{stat.base_stat}}
        </div>
        <div class="value-bar-full stripes">
          <div class="value-bar-percent stripes" [style.width]="stat.percent + '%'"></div>
        </div>
      </div>
    </div>

  </section>
</div>
