<!--
Sprite (.sprite)
Name (.name)
Number
Description
Height
Weight
Type
Games

Base Stats

Moves
  All
  Level
  Machine

 -->

<div *ngIf="pkmn" class="pokemon-detail">


  <div class="box box-white padded-box stripes pokemon-main-detail">

    <div class="pokemon-id">#{{formatPkmnId(pkmn.id)}}</div>

    <div class="box box-blue stripes pokemon-sprite">
      <img src="{{pkmn.sprite}}"/>
    </div>

    <div class="pokemon-name">{{pkmn.name}}</div>

    <div class="pokemon-meta">
      <div class="description">
        <p>{{pkmn.description}}</p>
      </div>
      <!-- <div class="weight-height">
        <p>Height: {{pkmn.height}}</p>
        <p>Height: {{pkmn.weight}}</p>
      </div> -->
    </div>

    <div class="pokemon-type">
      <div *ngFor="let type of pkmn.types" class={{type.name}}>{{type.name}}
      </div>
      <!-- <div class={{pkmn.types[0].name}}>{{pkmn.types[0].name}}</div> -->
      <!-- <div class={{pkmn.types[1].name}}></div> -->
    </div>

  </div>
</div>
