.stripes {
  background:  repeating-linear-gradient(
    45deg,
    transparent,
    transparent 6px,
    rgba(54,54,54,0.1) 8px,
    rgba(54,54,54,0.1) 10px
  )
}

.stripes-inverted {
  background:  repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 6px,
    rgba(54,54,54,0.1) 8px,
    rgba(54,54,54,0.1) 10px
  )
}

.box {
  border: solid 3px #363636;
  border-radius: 10px;
  box-shadow: black 0px 0px 10px -1px inset;
}

.padded-box {
  padding: 10px;
}

.box-blue {
  background-color: #00AEE3;
}

.box-white {
  background-color: white;
}

.box-black {
  background-color: #3A3A3A;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: radial-gradient(#c0392b,black);
}

.background .color {
}

.pokedex {
  display: flex;
  width: 1000px;
  margin: auto;
  background: rgba(0,0,0,0.5);
  justify-content: space-around;
}

poke-list {
  max-height: 100vh;
  overflow: scroll;
  width: 20%;
  min-width: 230px;
}

pokemon-detail {
  width: 70%;
}
