.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.poke-list {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  font-size: 13px;
}
.poke-list li {
  cursor: pointer;
  position: relative;
  left: 0;
  margin: .5em;
  display: flex;
  color: black;
  align-items: center;
  justify-content: flex-start;
  height: 55px;
}

.poke-list li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}

.poke-list li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.poke-list img {
  width: 55px;
  height: auto;
}

/*.poke-list .text {
  position: relative;
  top: -3px;
}*/

.poke-list .badge {
  margin-right: 10px;
  border-left: 0;
}

.poke-list .pokemon-id {
  margin-top: 5px;
  color: #777;
  font-size: 11px;
}
