.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.poke-list {
  list-style-type: none;
  padding: 0;
  font-size: 13px;
  max-height: 70vh;
  overflow: scroll;
  margin-left: 105px; 
}
.poke-list li {
  cursor: pointer;
  position: relative;
  left: 0;
  margin: 7px 5px 7px 0;
  display: flex;
  color: black;
  align-items: center;
  justify-content: flex-start;
  height: 55px;
}

.poke-list li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}

.poke-list li:hover {
  color: white;
  background-color: #3A3A3A;
  transition: all 150ms;
}

.poke-list img {
  width: 55px;
  height: auto;
}

.poke-list .badge {
  margin-right: 10px;
  border-left: 0;
  text-align: center;
}

.poke-list .pokemon-id {
  margin-top: 5px;
  color: #777;
  font-size: 11px;
}

.poke-selected .badge {
  width: 100%;
  margin: 0 auto;
}

.poke-selected .poke-name {
  display: none;
}
