<main class="pokedex">

  <div class="pokedex-title box box-blue stripes">
    <img src='./assets/images/8-bit-pokeball.png'/>
    <h1>ngPokedex</h1>
    <img src='./assets/images/8-bit-pokeball.png'/>
  </div>

  <div *ngIf="!allPokemon" class="loading">
    <img src="./assets/images/pikachu-waiting.gif"/>
    <p>Loading...</p>
  </div>

  <div class="pokedex-body">
    <div *ngIf = "allPokemon" class="pokemon-list-filters">
      <poke-filter [allPokemon]="allPokemon" (filterPokemon)='filterPokemon($event)'></poke-filter>
      <poke-list [allPokemon]="filteredPokemon" (selectPokemon)='selectPokemon($event)'></poke-list>
    </div>
    <pokemon-detail [pkmn]="selectedPkmn" [fetchingStatus]="fetchingStatus"></pokemon-detail>

  </div>

</main>
