<main class="pokedex">

  <div class="pokedex-title box box-blue stripes">
    <img src='/assets/images/8-bit-pokeball.png'/>
    <h1>ngPokedex</h1>
    <img src='/assets/images/8-bit-pokeball.png'/>
  </div>

  <div *ngIf="!allPokemon" class="loading">
    <img src="/assets/images/pikachu-waiting.gif"/>
    <p>Loading...</p>
  </div>

  <div class="pokedex-body">
    <poke-list [allPokemon]="allPokemon" (selectPokemon)='selectPokemon($event)'></poke-list>
    <pokemon-detail [pkmn]="selectedPkmn" [fetchingStatus]="fetchingStatus"></pokemon-detail>

  </div>

</main>
