.search-input {
    font-size: 13px;
    margin: 7px 5px 20px 75px;
    max-width: 220px;
    background-color: #3A3A3A;
    color: white;
    display: flex;
    justify-content: flex-start;
    height: 40px;
    align-items: center;
}

.search-input .badge {
    padding: 10px;
    border-left: 0;
}

.search-input .badge img {
    width: 20px;
}

.search-input input {
    height: 100%;
    padding-left: 10px;
    max-width: 160px;
    color: white;
    background: transparent;
}

.search-input input:focus {
    outline: none;
}

.filter-buttons {
    position: absolute;
    top: 0;
    left: 0;
}