/*RESETS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
input,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: 'Press Start 2P', cursive;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.stripes {
  background:  repeating-linear-gradient(
    45deg,
    transparent,
    transparent 6px,
    rgba(54,54,54,0.1) 8px,
    rgba(54,54,54,0.1) 10px
  )
}

.stripes-light {
  background:  repeating-linear-gradient(
    45deg,
    transparent,
    transparent 6px,
    rgba(201,201,201,0.1) 8px,
    rgba(201,201,201,0.1) 10px
  )
}

.stripes-inverted {
  background:  repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 6px,
    rgba(54,54,54,0.1) 8px,
    rgba(54,54,54,0.1) 10px
  )
}

.loading {
  color: white;
  font-size: 17px;
  text-align: center;
}

.pokedex-title {
  text-align: center;
  padding: 20px;
  font-size: 30px;
  text-shadow: black 0 2px;
  width: 50%;
  margin: 0 auto 20px;
  display: flex;
  justify-content: space-around;
}

.box {
  border: solid 3px #363636;
  border-radius: 10px;
  box-shadow: black 0px 0px 10px -1px inset;
}

.padded-box {
  padding: 10px 20px;
}

.box-blue {
  background-color: #00AEE3;
  color: white;
}

.box-white {
  background-color: white;
}

.box-black {
  background-color: #3A3A3A;
  color: white;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(rgba(53,64,80,0.5), rgba(53,64,80,0.5)),url('./assets/images/pokemon-evolution.png') no-repeat;
  background-size: cover;
}

.pokedex {
  width: 1000px;
  margin: auto;
  background: rgba(0,0,0,0.5);
  height: 100vh;
  position: relative;
  padding: 20px 0;
  box-sizing: border-box;
}

.pokedex-body {
  display: flex;
  justify-content: space-around;
}

.pokemon-list-filters {
  color: red;
  width: 33%;
  min-width: 230px;
  position: relative;
}

pokemon-detail {
  width: 60%;
  margin: 7px 5px;
}

.section-header {
  margin-left: 40px;
  width: 170px;
  text-align: center;
  color: white;
  padding: 5px 10px;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-shadow: black 0 2px;
}

section {
  margin-top: 30px;
}

.value-bar-full {
  width: 60%;
  height: 10px;
  background-color: #7A7A7A;
  margin-left: 20px;
}

.value-bar-percent {
  height: 10px;
  background-color: #31B754;
}

.type-water {
  background-color: #3498db;
}

.type-fire {
  background-color: #e74c3c;
}

.type-grass {
  background-color: #2ecc71;
}

.type-electric {
  background-color: #f1c40f;
}

.type-dark {
  background-color: #2c3e50;
}

.type-psychic {
  background-color: #ec54cc;
}

.type-ice {
  background-color: #60c3f3;
}

.type-flying {
  background-color: #95a5a6;
}

.type-ground {
  background-color: #e7833c;
}

.type-rock {
  background-color: #7f8c8d;
}

.type-normal {
  background-color: #bdc3c7;
}

.type-fighting {
  background-color: #e67e22;
}

.type-poison {
  background-color: #9b59b6;
}

.type-ghost {
  background-color: #34495e;
}

.type-dragon {
  background-color: #f39c12;
}

.type-bug {
  background-color: #1abc9c;
}

.type-steel {
  background-color: #95a5a6;
}

.type-fairy {
  background-color: #8e44ad;
}